/*kolory*/
/*screen sizes*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }
  @media (max-width: 1250px) {
    html {
      font-size: 8.5px; } }
  @media (max-width: 1000px) {
    html {
      font-size: 7.5px; } }
  @media (max-width: 900px) {
    html {
      font-size: 7px; } }
  @media (max-width: 850px) {
    html {
      font-size: 6.5px; } }

body {
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1; }
  .bgVideo__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .bgVideo__purpleFiltr {
    background-image: linear-gradient(to right, rgba(154, 0, 255, 0.81), rgba(154, 0, 255, 0.72));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 8vh; }
  .navigation__element {
    color: #f53ca5;
    font-size: 4rem;
    border: solid 3px #f53ca5;
    margin-right: 3vw;
    list-style: none;
    padding: 1rem 4rem 1rem 4rem;
    font-weight: 700; }
    .navigation__element--last {
      margin-right: 6vw; }

.firstHeader {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 22vh;
  margin-left: 5rem; }
  .firstHeader__element1 {
    font-size: 15rem; }
    @media (max-width: 900px) {
      .firstHeader__element1 {
        font-size: 17rem; } }
  .firstHeader__element2 {
    font-size: 12rem; }
    @media (max-width: 900px) {
      .firstHeader__element2 {
        font-size: 15rem; } }
  .firstHeader__element3 {
    font-size: 5rem;
    color: #f53ca5; }
    @media (max-width: 900px) {
      .firstHeader__element3 {
        font-size: 7rem; } }
  @media (max-width: 900px) {
    .firstHeader {
      margin-left: 7rem; } }

header {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
