/*kolory*/
/*screen sizes (width) */
@keyframes navbar-start-animation {
  0% {
    transform: translateY(-100vh); }
  100% {
    transform: translateY(0); } }

@keyframes navbar-start-animation-small-screens {
  0% {
    transform: translateX(-100vw); }
  100% {
    transform: translateX(0); } }

@keyframes header-start-animation {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }
  @media (max-width: 1250px) {
    html {
      font-size: 8.5px; } }
  @media (max-width: 1000px) {
    html {
      font-size: 7.5px; } }
  @media (max-width: 900px) {
    html {
      font-size: 7px; } }
  @media (max-width: 850px) {
    html {
      font-size: 6.5px; } }
  @media (max-width: 800px) {
    html {
      font-size: 6px; } }
  @media (max-width: 750px) {
    html {
      font-size: 5.5px; } }
  @media (max-width: 600px) {
    html {
      font-size: 5px; } }

body {
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1; }
  .bgVideo__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .bgVideo__purpleFiltr {
    background-image: linear-gradient(to right, rgba(154, 0, 255, 0.81), rgba(154, 0, 255, 0.72));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 9vh;
  width: 100vw;
  animation-name: navbar-start-animation;
  animation-duration: 1s; }
  @media (max-width: 700px) {
    .navigation {
      position: absolute;
      top: 39%;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      animation-name: navbar-start-animation-small-screens; } }
  .navigation__element {
    display: flex;
    color: #f53ca5;
    font-size: 4rem;
    border: solid 3px #f53ca5;
    margin-right: 3vw;
    list-style: none;
    padding: 1rem 4rem 1rem 4rem;
    font-weight: 700;
    justify-content: center;
    transition: all 0.4s; }
    .navigation__element:hover {
      cursor: pointer;
      background-color: #fff;
      transform: scale(1.1); }
    @media (max-width: 800px) {
      .navigation__element {
        font-size: 4.25rem; } }
    @media (max-width: 700px) {
      .navigation__element {
        margin-top: 4vh;
        font-size: 5rem;
        width: 25vw;
        padding: 1.5rem 4rem 1.5rem 4rem; } }
    @media (max-width: 600px) {
      .navigation__element {
        padding: 2rem 5rem 2rem 5rem; } }
    @media (max-width: 500px) {
      .navigation__element {
        padding: 2rem 9rem 2rem 9rem; } }
    .navigation__element--last {
      margin-right: 6vw; }
      @media (max-width: 700px) {
        .navigation__element--last {
          margin-right: 3vw; } }

.firstHeader {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 22vh;
  margin-left: 5rem;
  animation-name: header-start-animation;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  @media (max-width: 700px) {
    .firstHeader {
      position: absolute;
      top: -15%; } }
  .firstHeader__element1 {
    font-size: 15rem; }
    @media (max-width: 900px) {
      .firstHeader__element1 {
        font-size: 17rem; } }
    @media (max-width: 500px) {
      .firstHeader__element1 {
        font-size: 17rem; } }
  .firstHeader__element2 {
    font-size: 12rem; }
    @media (max-width: 900px) {
      .firstHeader__element2 {
        font-size: 15rem; } }
    @media (max-width: 500px) {
      .firstHeader__element2 {
        font-size: 13rem; } }
    @media (max-width: 500px) {
      .firstHeader__element2 {
        font-size: 11.5rem; } }
  .firstHeader__element3 {
    font-size: 5rem;
    color: #f53ca5; }
    @media (max-width: 900px) {
      .firstHeader__element3 {
        font-size: 7rem; } }
    @media (max-width: 500px) {
      .firstHeader__element3 {
        font-size: 6rem; } }
  @media (max-width: 900px) {
    .firstHeader {
      margin-left: 7rem; } }

.container {
  overflow: hidden; }

header {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative; }
