/*colors*/
$main-font-color: #f53ca5;
$main-background-color: #9A00FF;
/*screen sizes (width) */
$screen-1: 1250px; //laptops
$screen-2: 1000px; //big tablets
$screen-3: 850px; //medium tablets
$screen-4: 750px; //small tablets
$screen-5: 450px; //big phones
$screen-6: 350px; //small phones

/*big screen sizes (width) */
$screen-big-1: 1500px;
$screen-big-2: 1900px;
$screen-big-3: 3000px;



@keyframes navbar-start-animation {
    0%{
        transform: translateY(-100vh);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes navbar-start-animation-small-screens{
    0%{
        transform: translateX(-100vw);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes header-start-animation{
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
*{
    margin: 0;
    padding: 0;
}
html, body {
    scroll-behavior: smooth;
}
html{
    font-size: 10px;
    @media(min-width: $screen-big-1)
    {
        font-size: 12px;
    }
    @media(min-width: $screen-big-2)
    {
        font-size: 16px;
    }
    @media(min-width: $screen-big-3)
    {
        font-size: 18px;
    }
    @media (max-width: $screen-1)
    {
        font-size: 8px;
    }
    @media (max-width: $screen-2)
    {
        font-size: 7px;
    }
    @media (max-width: $screen-3)
    {
        font-size: 6px;
    }
    @media (max-width: $screen-4)
    {
        font-size: 5px;
    }
   
    @media (max-width: $screen-5)
    {
        font-size: 4px;
    }
    @media (max-width: $screen-6)
    {
        font-size: 3px;
    }
   
}
body{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
a, a:link, a:visited{
    text-decoration: none;
}
li{
    list-style-type: none;
}