/*kolory*/
$main-font-color: #f53ca5;
$main-background-color: #9A00FF;
/*screen sizes (width) */
$screen-1: 1250px;
$screen-2: 1000px;
$screen-3: 900px;
$screen-4: 850px;
$screen-5: 800px;
$screen-6: 750px;
$screen-7: 700px;
$screen-8: 600px;
$screen-9: 500px;
$screen-10: 400px;

@keyframes navbar-start-animation {
    0%{
        transform: translateY(-100vh);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes navbar-start-animation-small-screens{
    0%{
        transform: translateX(-100vw);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes header-start-animation{
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
    @media (max-width: $screen-1)
    {
        font-size: 8.5px;
    }
    @media (max-width: $screen-2)
    {
        font-size: 7.5px;
    }
    @media (max-width: $screen-3)
    {
        font-size: 7px;
    }
    @media (max-width: $screen-4)
    {
        font-size: 6.5px;
    }
    @media (max-width: $screen-5)
    {
        font-size: 6px;
    }
    @media (max-width: $screen-6)
    {
        font-size: 5.5px;
    }
    @media (max-width: $screen-8)
    {
        font-size: 5px;
    }
   
}
body{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}