/*kolory*/
$main-font-color: #f53ca5;
/*screen sizes (width) */
$screen-1: 1250px;
$screen-2: 1000px;
$screen-3: 900px;
$screen-4: 850px;
$screen-5: 800px;
$screen-6: 750px;
$screen-7: 700px;
$screen-8: 600px;
$screen-9: 500px;
$screen-10: 400px;



*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
    @media (max-width: $screen-1)
    {
        font-size: 8.5px;
    }
    @media (max-width: $screen-2)
    {
        font-size: 7.5px;
    }
    @media (max-width: $screen-3)
    {
        font-size: 7px;
    }
    @media (max-width: $screen-4)
    {
        font-size: 6.5px;
    }
    @media (max-width: $screen-5)
    {
        font-size: 6px;
    }
    @media (max-width: $screen-6)
    {
        font-size: 5.5px;
    }
    @media (max-width: $screen-8)
    {
        font-size: 5px;
    }
   
}
body{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}