/* header */
.bgVideo{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__purpleFiltr{
        background-image: linear-gradient(to right, rgba(154, 0, 255, 0.81), rgba(154, 0, 255, 0.72));
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    
    }

}
.navigation{
    display: flex;
    justify-content: flex-end;
    margin-top: 9vh;
    width: 100vw;
    animation-name: navbar-start-animation;
    animation-duration: 1s;
    
    &__element{
        display: flex;
        color: $main-font-color;
        font-size: 4rem;
        border: solid 3px $main-font-color;
        margin-right: 3vw;
        list-style: none;
        padding: 1rem 4rem 1rem 4rem;
        font-weight: 700;
        justify-content: center;
        transition:  0.4s;
        &:hover{
            cursor: pointer;
            background-color: #fff;
            transform: scale(1.1);
        }
       
        &:active{
            transform: translateY(20px);
        }
        @media (max-width: $screen-3)
        {
            font-size: 4.5rem;
        }
        
         @media (max-width: $screen-4)
        {
            margin-top: 4vh;
            font-size: 6rem;
            width: 25vw;
            padding: 1.5rem 4rem 1.5rem 4rem;
         }
         @media (max-width: $screen-5)
         {
            padding: 2rem 5rem;
            width: 40vw;
            margin-top: 4vh;
            font-size: 7rem;
         }
         @media (max-width: $screen-6)
         {
            width: 35vw;
         }
         @media (max-height: $screen-2h) 
        {
            margin-top: 5vh;
        }
         
        &--last{
            margin-right: 6vw;
        @media (max-width: $screen-4)
        {
          margin-right: 3vw;
        }
        }

    }
    @media (max-width: $screen-4)
    {
        position: absolute;
        top: 39%;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        animation-name: navbar-start-animation-small-screens;
    }
}
.firstHeader{
    color:white;
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    margin-left: 5rem;
    animation-name: header-start-animation;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: 0.4s;
    width: 60vw;
    @media (max-width: $screen-2)
    {
        margin-top: 30vh;
    }
    @media(max-width: $screen-3)
    {
        width: 100vw;
        margin-left: 2vw;
    }
    @media(max-width: $screen-4)
    {
        position: absolute;
        margin-top: 10vh;
    }
    @media (max-width: $screen-5)
    {
        margin-left: 5rem;
    }
    &__element1{
        font-size: 15rem;
        
        @media (max-width: $screen-3)
        {
            font-size: 18rem;
        }
        
        
    }
    
    &__element2{
        font-size: 12rem;
        @media (max-width: $screen-3)
        {
            font-size: 16rem;
        }
       
    }
    &__element3{
        font-size: 5rem;
        color: $main-font-color;
        @media (max-width: $screen-3)
        {
            font-size: 8rem;
        }
        

    }

    
    &:hover{
        transform: translate(30px, -30px);
        cursor: pointer;
        @media(max-width: $screen-2)
        {
            cursor:auto;
            transform: none;
        }
    
}}

/* aboutMeSection */
.sectionHeader{
    margin-top: 8vh;
    margin-bottom: 5vh;
    margin-left: 4vw;
    
    &__content{
        font-size: 10rem;
        color: $main-font-color;
        @media (max-width: $screen-1)
        {
            font-size: 14rem;
        }
        @media (max-width: $screen-2)
        {
            font-size: 14rem;
        }
        @media (max-width: $screen-3)
        {
            font-size: 17rem;
        }
        @media (max-width: $screen-4)
        {
            font-size: 19rem;
        }
    }
    &__stress{
        background-color: $main-background-color;
        height: 2rem;
        margin-left: -10rem;
        width: 60rem;
        @media (max-width: $screen-3)
        {
            height: 2.25rem;
            width: 70rem;
        }
    }
    @media (max-width: $screen-3)
    {
        align-self: flex-start;
        margin-top: 12vh;
    }
    
}
.mainContent{
    position: absolute;
    top: 10vh;
    right: -3vw;
    background-color: $main-background-color;
    border-radius: 90%;
    width: 55rem;
    height: 53rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content{
        display: block;
        color: white;
        font-size: 3.5rem;
        width: 33rem;
        font-weight: 700;
        text-align: center;
        @media (max-width: $screen-1)
        {
            font-size: 4rem ;
            width: 44rem;
        }
        @media (max-width: $screen-2)
        {
            font-size: 4.5rem ;
            width: 50rem;
        }
        @media (max-width: $screen-3)
        {
            
            font-size: 6rem ;
            width: 100rem;
            color: $main-background-color;
            margin-top: 6rem;
        }
        @media (max-width: $screen-4)
        {
            font-size: 7rem;
        }
        @media (max-width: $screen-5)
        {
            font-size: 8rem;
        }
        
    }
    @media(max-width: $screen-1)
    {
        width: 60rem;
        height: 55rem;
    }
    @media(max-width: $screen-2)
    {
        width: 65rem;
        height: 60rem;
    }
    @media(max-width: $screen-3)
    {
        position: static;
        background-color: transparent;
        width: 90rem;
        height: auto;
        border-radius: 0;
        border-left: 2px solid $main-background-color;
        margin-bottom: 5vh;
        
    }
    @media(max-width: $screen-4)
    {
        width: 100rem;
        
    }
    @media(max-width: $screen-5)
    {
        margin-top: 10rem;
        
    }
   
    
    
}
.button{
    font-size: 2.9rem;
    font-weight: 700;
    padding: 1rem 2rem;
    color: $main-background-color;
    text-decoration: none;
    border: 4px solid $main-background-color;
    transition: 0.5s;
    &--lookMore{
     position: absolute;
     top: 87vh;
     right: 25vw;
      @media (max-width: $screen-1)
      {
        right: 12vw;
      }
      @media (max-width: $screen-1)
      {
        right: 6vw;
      }
      @media(max-width: $screen-3)
        {   
            margin-top: 2rem;
            position: static;
        }
    }
    &:hover{
         color: white;
         background-color: $main-background-color;
    }
    @media (max-width: 1350px)
    {
        font-size: 2.75rem;
    }
    @media (max-width: $screen-1)
    {
         font-size: 4rem;

    }
    @media (max-width: $screen-3)
    {
         font-size: 5rem;
         border: 3px solid $main-background-color;

    }
    @media (max-width: $screen-4)
    {
         font-size: 6rem;
         position: static;
         margin-top: 5vh;

    }


    
 }
.developerImage{
    
    position: absolute;
    left: 10rem;
    bottom: -8rem;
    width: 50vw;
    overflow: hidden;
    z-index: -1;

    
    &__content{
        width: 60rem;
        @media(max-width: $screen-1)
        {
            width: 65rem;
        }
        @media(max-width: $screen-2)
        {
            width: 70rem;
        }
        @media(max-width: $screen-3)
        {
            width: 80rem;
        }
        @media(max-width: $screen-4)
        {
            width: 100rem;
        }
        @media(max-width: $screen-4)
        {
            width: 110rem;
        }
        
    }
    @media(max-width: $screen-1)
    {
        width: auto;
        
    }
    @media(max-width: $screen-3)
    {
        width: auto;
        position: static;
        margin-bottom: -10vh;
    }
        
    
}

   



