/* header */
.bgVideo{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__purpleFiltr{
        background-image: linear-gradient(to right, rgba(154, 0, 255, 0.81), rgba(154, 0, 255, 0.72));
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    
    }

}
.navigation{
    display: flex;
    justify-content: flex-end;
    margin-top: 9vh;
    width: 100vw;
    animation-name: navbar-start-animation;
    animation-duration: 1s;
    
    &__element{
        display: flex;
        color: $main-font-color;
        font-size: 4rem;
        border: solid 3px $main-font-color;
        margin-right: 3vw;
        list-style: none;
        padding: 1rem 4rem 1rem 4rem;
        font-weight: 700;
        justify-content: center;
        transition:  0.4s;
        &:hover{
            cursor: pointer;
            background-color: #fff;
            transform: scale(1.1);
        }
       
        &:active{
            transform: translateY(20px);
        }
        
        @media (max-width: $screen-3)
        {
            font-size: 4.5rem;
        }
        
         @media (max-width: $screen-4)
        {
            margin-top: 4vh;
            font-size: 6rem;
            width: 25vw;
            padding: 1.5rem 4rem 1.5rem 4rem;
         }
         @media (max-width: $screen-5)
         {
            padding: 2rem 5rem;
            width: 40vw;
            margin-top: 4vh;
            font-size: 7rem;
         }
         @media (max-width: $screen-6)
         {
            width: 35vw;
         }
         @media (max-height: $screen-2h) 
        {
            margin-top: 5vh;
        }
         
        
        @media (max-width: $screen-4)
        {
          margin-right: 3vw;
        }
        

    }
    @media (max-width: $screen-4)
    {
        position: absolute;
        top: 39%;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        animation-name: navbar-start-animation-small-screens;
    }
}
.firstHeader{
    color:white;
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    margin-left: 5rem;
    animation-name: header-start-animation;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: 0.4s;
    width: 60vw;
    @media (max-width: $screen-2)
    {
        margin-top: 30vh;
    }
    @media(max-width: $screen-3)
    {
        width: 100vw;
        margin-left: 2vw;
    }
    @media(max-width: $screen-4)
    {
        position: absolute;
        margin-top: 10vh;
    }
    @media (max-width: $screen-5)
    {
        margin-left: 5rem;
    }
    &__element1{
        font-size: 15rem;
        @media (max-width: $screen-1)
        {
            font-size: 18rem;
        }
        
        @media (max-width: $screen-3)
        {
            font-size: 18rem;
        }
        
        
    }
    
    &__element2{
        font-size: 12rem;
        @media (max-width: $screen-1)
        {
            font-size: 14rem;
        }
        
        @media (max-width: $screen-3)
        {
            font-size: 16rem;
        }
       
    }
    &__element3{
        font-size: 5rem;
        color: $main-font-color;
        @media (max-width: $screen-1)
        {
            font-size: 7rem;
        }
        @media (max-width: $screen-2)
        {
            font-size: 8rem;
        }
        @media (max-width: $screen-3)
        {
            font-size: 8rem;
        }
        

    }

    
    &:hover{
        transform: translate(30px, -30px);
        cursor: pointer;
        @media(max-width: $screen-2)
        {
            cursor:auto;
            transform: none;
        }
    
}}

/* aboutMeSection */
.sectionHeader{
    margin-top: 5vh;
    margin-left: 4vw;
    margin-bottom: 5vh;
    width: 100rem;
    display: block;
    
    &__content{
        font-size: 11rem;
        color: $main-font-color;
        transition: 0.3s;
        &--aboutMe{
            
        @media (max-width: $screen-1)
        {
            font-size: 13rem;
        }
        @media (max-width: $screen-3)
        {
            font-size: 16rem;
        }
        @media (max-width: $screen-4)
        {
            font-size: 19rem;
        }
        }
        &--tech{
            width: 10rem;
            font-size: 9rem;
            @media (max-width: $screen-1)
            {
                font-size: 10rem
            }
            @media (max-width: $screen-3)
            {
                font-size: 13.5rem;
            }
            @media (max-width: $screen-4)
            {
                font-size: 14rem;
            }
            
        }
        &--port{
            font-size: 10rem;
            @media(max-width: $screen-1)
            {
                font-size: 11rem;
            }
            @media (max-width: $screen-2)
            {
                font-size: 13rem;
            }
            @media (max-width: $screen-3)
            {
                font-size: 15rem;
            }
            @media (max-width: $screen-4)
            {
                font-size: 17rem;
            }
        }
        &--con{
            @media (max-width: $screen-2)
            {
                font-size: 12rem;
            }
            @media(max-width: $screen-3)
            {
                font-size: 15rem;
            }
        }
        &:hover{
            transform: translateX(4rem);
            cursor: pointer;
        }
        
    }
    &__stress{
        background-color: $main-background-color;
        height: 2rem;
        margin-left: -10rem;
        width: 60rem;
        &--aboutMe{
            @media (max-width: $screen-3)
            {
                height: 2.25rem;
                width: 70rem;
            }
        }
        &--tech{
            width: 80rem;
            @media (max-width: $screen-3)
            {
                width: 100rem;
            }
        }
        &--port{
            @media (max-width: $screen-1)
            {
                width: 65rem;
            }
            @media (max-width: $screen-2)
            {
                width: 75rem;
            }
            
        }
        &--con{
            @media (max-width: $screen-3)
            {
                width: 80rem;
            }
        }
    }
    
    @media (max-width: $screen-3)
    {
        align-self: flex-start;
        margin-top: 6vh;
    }
    
}
.mainContent{
    position: absolute;
    top: 10vh;
    right: -3vw;
    background-color: $main-background-color;
    border-radius: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    &--aboutMe{
        width: 55rem;
        height: 53rem;
        @media(max-width: $screen-1)
    {
        width: 60rem;
        height: 55rem;
    }
    @media(max-width: $screen-2)
    {
        width: 65rem;
        height: 60rem;
    }
    @media(max-width: $screen-3)
    {
        top: 6vh;
        
    }
    @media(max-width: $screen-4)
    {
        
        position: static;
        background-color: transparent;
        width: 90rem;
        height: auto;
        border-radius: 0;
        border-left: 2px solid $main-background-color;
        margin-bottom: 5vh;
        
    }
    @media(max-width: $screen-5)
    {
        
        margin-top: 10rem;
    }
    }
    &--tech{
        width: 35rem;
        height: 33rem;
        top: 3vh;
        @media (max-width: $screen-1)
        {
            
            width: 40rem;
            height: 38rem;
        }
        @media (max-width: $screen-3)
        {
            top: 10vh;
        }
        @media(max-width: $screen-4)
        {
            margin-top: 10vh;
            position: static;
            background-color: transparent;
            width: 60rem;
            height: auto;
            border-radius: 0;
            border-left: 2px solid $main-background-color;
            padding-left: 4rem;
        }   
    }
    &--port{
        width: 37rem;
        height: 35rem;
        left: -4vw;
        top: 30vh;
        @media (max-width: $screen-1)
        {
            top: 25rem;
            width: 45rem;
            height: 43rem;
        }
        @media (max-width: $screen-2)
        {
           top: 25vh;
        }
        @media (max-width: $screen-3)
        {
            top: 23vh;
            width: 50rem;
           height: 47rem;
        }
        @media (max-width: $screen-4)
        {
            margin-top: 6vh;
            position: static;
            background-color: transparent;
            width: 70rem;
            height: auto;
            border-radius: 0;
            border-left: 2px solid $main-background-color;
        }

    }
    &--con{
        width: 47.5rem;
        height: 45.5rem;
        left: -4vw;
        top: 20rem;
        @media(max-width: $screen-1)
        {
            top: 25rem;
            right: 69vw;
            width: 50rem;
            height: 47rem;
        }
        @media (max-width: $screen-2)
        {
            right: 65vw;
            width: 50rem;
            height: 47rem;
        }
        @media (max-width: $screen-3)
        {
            top: 33rem;
        }
        @media (max-width: $screen-4)
        {
            margin-top: 6vh;
            position: static;
            background-color: transparent;
            width: 80rem;
            height: auto;
            border-radius: 0;
            border-left: 2px solid $main-background-color;
        }
        
    }
    &__content{
        display: block;
        color: white;
        font-size: 3.5rem;
        width: 33rem;
        font-weight: 700;
        text-align: center;
        &--aboutMe{
            @media (max-width: $screen-1)
        {
            font-size: 4rem ;
            width: 44rem;
        }
        @media (max-width: $screen-2)
        {
            font-size: 4.5rem ;
            width: 50rem;
        }
        @media (max-width: $screen-3)
        {
            
            font-size: 4rem ;
            width: 50rem;
            color: white;
        }
        @media (max-width: $screen-4)
        {
            font-size: 7rem;
            color: $main-background-color;
            width: 100rem;
            padding-left: 5rem;
        }
        @media (max-width: $screen-5)
        {
            font-size: 6rem;
            width: 80rem;
            padding-left: 1rem;
        }
        }
        &--tech{
            width: 25rem;
            text-align:left;
            @media (max-width: $screen-1)
            {
                width: 25rem;
                font-size: 4rem;
            }
            @media (max-width: $screen-3)
        {
            
            font-size: 4rem ;
            width: 30rem;
            color: white;
        }
            @media (max-width: $screen-4)
            {
               
                text-align: center;
                font-size: 8rem;
                width: 60rem;
                color: $main-background-color;
            }
        }
        &--port{
            
            margin-left: 4rem;
            width: 25rem;
            @media (max-width: $screen-1)
            {
                font-size: 4.5rem;
                margin-left: 4vw;
                width: 30rem;
            }
            @media (max-width: $screen-3)
            {
                font-size: 5rem;
                
            }
            @media (max-width: $screen-4)
            {
                font-size: 8rem;
                color: $main-background-color;
                width: 90rem;
                padding-left: 2.5rem;
            }
        
        
    }
    &--con{
        margin-left: 5rem;
        @media (max-width: $screen-2)
        {
            font-size: 4rem;
            width: 40rem;
        }
        @media (max-width: $screen-4)
        {
            font-size: 7rem;
            color: $main-background-color;
            width: auto;
            padding-left: 2rem;
        }
        @media (max-width: $screen-5)
        {
            padding-left: 1rem;
        }
    }
}
    
   
    
    
}
.button{
    display: block;
    font-size: 3.7rem;
    font-weight: 700;
    padding: 1rem 2rem;
    color: $main-background-color;
    text-decoration: none;
    border: 4px solid $main-background-color;
    transition: 0.5s;
    
    &--lookMore{
     position: absolute;
     top: 70rem;
     right: 15vw;
     
      @media (max-width: $screen-1)
      {
        top: 77rem;
        right: 6vw;
        font-size: 4rem;
      }
      @media(max-width: $screen-3)
        {   
            top: 80rem;
            border: 3px solid $main-background-color;
        }
      @media(max-width: $screen-4)
        {   
            margin-top: 2rem;
            position: static;
            font-size: 6rem;
        }
        &:active{
            transform: translateY(20px);
        }
    }
    &--port{
        position: absolute;
        bottom: 10vh;
        left: 20vw;
        width: 30rem;
        text-align: center;
        @media (max-width: $screen-1)
        {
            bottom: 7vh;
            left: 10vw;
            width: 35rem;
            font-size: 4rem;
        }
        
        @media (max-width: $screen-3)
        {
            
            width: 45rem;
            left: 3vw;
            bottom: 7vh;
            font-size: 5rem;
            border: 3px solid $main-background-color;
        }

        
        @media (max-width: $screen-4)
        {
            margin-top: 6vh;
            position: static;
            width: 60rem;
            font-size: 6rem;
        }
    }
    &--con1{
        position: absolute;
        bottom: 20vh;
        left: 30vw;
        font-size: 4.5rem;
        width: 30rem;
        text-align: center;
        color: white;
        background-color: $main-font-color;
        border: 0;
        @media (max-width: $screen-1)
        {
            bottom: 20rem;
            left: 35vw;
            font-size: 5.5rem;
            width: 35rem;
        }
        @media (max-width: $screen-2)
        {
            font-size: 5rem;
            width: 30rem;

        }
        @media (max-width: $screen-3)
        {
            font-size: 6rem;
            width: 40rem;
            bottom: 20rem;
        }
        @media (max-width: $screen-4)
        {
            width: 50rem;
            font-size: 9rem;
            bottom: 25rem;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    &--con2{
        position: absolute;
        bottom: 7vh;
        left: 30vw;
        font-size: 4.5rem;
        width: 30rem;
        text-align: center;
        color: white;
        background-color: $main-font-color;
        border: 0;
        @media (max-width: $screen-1)
        {
            left: 35vw;
            bottom: 9rem;
            font-size: 5.5rem;
            width: 35rem;
        }
        @media (max-width: $screen-2)
        {
            font-size: 5rem;
            width: 30rem;
        }
        @media (max-width: $screen-3)
        {
            bottom: 8rem;
            font-size: 6rem;
            width: 40rem;
        }
        @media (max-width: $screen-4)
        {
            width: 50rem;
            font-size: 9rem;
            bottom: 5rem;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        
    }
    &--popup{
        width: 30rem;
        margin: 5vh auto 0 auto;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        border: 0.5rem solid $main-font-color;
        color: $main-font-color
        
    }
    &:hover{
         color: white;
         background-color: $main-background-color;
         transform: scale(1.1);
         border-color: $main-background-color;
    }
    
    
    
   


    
 }
.image{
    margin-bottom: -8rem;
    width: auto;
    overflow: hidden;
    z-index: -1;
    &--aboutMe{
    @media(max-width: $screen-3)
    {
        width: auto;
        margin-bottom: -10vh;
    }
    }
    &--tech{
        position: absolute;
        right: 10vw;
        bottom: 0;
        width: 70rem;
        @media (max-width: $screen-1)
        {
            width: 70rem
        }
        @media (max-width: $screen-4)
        {
            visibility: hidden;
        }
    }
    &--port{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0;
        margin-top: -10rem;
        margin-right: -3vw;
        align-items: flex-start;
        @media (min-width: $screen-big-3)
        {
            margin-top: 10rem;
        }
        @media (max-width: $screen-2)
        {
            margin-top: 0;
        }
        @media (max-width: $screen-3)
        {
            
            margin-top: 10vh;
        }
        @media (max-width: $screen-4)
        {
            
            margin-top: 3vh;
        }
    
    }
    &--con{

        display: flex;
        justify-content: flex-end;
        margin-bottom: 0;
        @media (max-width: $screen-4)
        {
            margin-top: 5vh;
        }
    }
    &--card
    {
        width: 10rem;
        
    }
    
    &__content{
        width: 70rem;
        &--aboutMe{
            @media(max-width: $screen-1)
        {
            width: 65rem;
        }
        @media(max-width: $screen-2)
        {
            width: 70rem;
        }
        @media(max-width: $screen-3)
        {
            width: 90rem;
        }
       
        @media(max-width: $screen-4)
        {
            width: 120rem;
        }
        }
        &--port{
            width: 80rem;
            @media (max-width: $screen-1)
            {
                width: 70rem;
            }
            @media (max-width: $screen-3)
            {
                width: 80rem;
            }
        }
        &--con{
            width: 80rem;
            
        }
        
    }
    
        
    
}
//Tech Section//
.cardsTechContainer{
    margin-top: 20vh;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    @media (max-width: $screen-1)
    {
        margin-top: 10vh;
    }
    @media (max-width: $screen-3)
    {
        margin-top: 5vh;
    }
    @media (min-width: $screen-big-2)
    {
        justify-content: space-around;
    }
    
    
}
.cardContainer{
    position: relative;
    width: 30rem;
    height: 45rem;
    
    &--tech{
        @media(max-width: $screen-3)
        {
            width: 35rem;
            height: 50rem;
        }
        
        @media (max-width: $screen-4c){
            width: 30rem;
            height: 45rem;
        }
        @media (max-width: $screen-5)
        {
            width: 29rem;
            height: 44rem;
        }
    }
}
.card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.9s ease;
    &:hover{
        transform: translateY(-2rem) rotateY(180deg) scale(1.2);
    }
    &__front{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background-color: $main-background-color;
        overflow: hidden;
        display: flex;
        align-items: center;
       justify-content: center;
        flex-direction: column;
    }
    &__image{
      
       transform: translateY(-2rem);
        width: 25rem;
        height: 27rem;
        @media (max-width: $screen-4b)
        {
            width: 23rem;
            height: 25rem;
        }


    }
    &__paragraph{
        margin-top: 2rem;
        color: white;
        font-size: 4rem;
    }
    &__back{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background-color: $main-background-color;
        transform: rotateY(180deg);
        color: white;
        font-size: 3rem;
        font-weight: bold;
        padding: 2rem;
        text-align: center;
    }
}
.footer{
    
    height: 20rem;
    font-size: 3rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    font-weight: bold;
    color: white;
    background-color: $main-background-color;
    @media (max-width: $screen-5)
    {
        font-size: 4rem;
    }
}
.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content{
        display: block;
        width: 80%;
        background-color: white;
        background-image: url(../images/pointer.png);
        background-size: 50%;
        background-position: 10% 95%;
        background-repeat: no-repeat;
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2);
        border-radius: 3px;
        border: 3px solid $main-background-color;
        overflow: hidden;
        opacity: 0;
        transition: all .5s .2s;
        padding: 4rem;
    }
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
    }
    &__text{
        color: $main-background-color;
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.872);
    }
    
}

   



