
.bgVideo{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__purpleFiltr{
        background-image: linear-gradient(to right, rgba(154, 0, 255, 0.81), rgba(154, 0, 255, 0.72));
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    
    }

}
.navigation{
    display: flex;
    justify-content: flex-end;
    margin-top: 9vh;
    width: 100vw;
    @media (max-width: $screen-7)
    {
        position: absolute;
        top: 39%;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    &__element{
        display: flex;
        color: $main-font-color;
        font-size: 4rem;
        border: solid 3px $main-font-color;
        margin-right: 3vw;
        list-style: none;
        padding: 1rem 4rem 1rem 4rem;
        font-weight: 700;
        justify-content: center;
        
        @media (max-width: $screen-5)
        {
            font-size: 4.25rem;
         }
         @media (max-width: $screen-7)
        {
            margin-top: 4vh;
            font-size: 5rem;
            width: 25vw;
            padding: 1.5rem 4rem 1.5rem 4rem;
         }
         @media (max-width: $screen-8)
         {
            padding: 2rem 5rem 2rem 5rem;
         }
         @media (max-width: $screen-9)
         {
            padding: 2rem 9rem 2rem 9rem;
         }
        &--last{
            margin-right: 6vw;
        @media (max-width: $screen-7)
        {
          margin-right: 3vw;
        }
        }

    }
    
}
.firstHeader{
    color:white;
    display: flex;
    flex-direction: column;
    margin-top: 22vh;
    margin-left: 5rem;
    @media(max-width: $screen-7)
    {
        position: absolute;
        top: -15%;
    }
    &__element1{
        font-size: 15rem;
        @media (max-width: $screen-3)
        {
            font-size: 17rem;
        }
        @media (max-width: $screen-9)
        {
            font-size: 17rem;
        }
        
    }
    &__element2{
        font-size: 12rem;
        @media (max-width: $screen-3)
        {
            font-size: 15rem;
        }
        @media (max-width: $screen-9)
        {
            font-size: 13rem;
        }
        @media (max-width: $screen-9)
        {
            font-size: 11.5rem;
        }
    }
    &__element3{
        font-size: 5rem;
        color: $main-font-color;
        @media (max-width: $screen-3)
        {
            font-size: 7rem;
        }
        @media (max-width: $screen-9)
        {
            font-size: 6rem;
        }

    }

    @media (max-width: $screen-3)
    {
        margin-left: 7rem;

    }
    
}
