.container{
    overflow: hidden;
}
.header{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.aboutMeSection{
    overflow: hidden;
    width: 100vw;
    height: 110vh;
    position: relative;
    border-bottom: 1.25rem solid $main-background-color;
}
