.container{
    overflow: hidden;
}
.header{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    @media (max-height: $screen-1h)
    {
        height: 120vh;
    }
    @media (max-height: $screen-2h)
    {
        height: 160vh;
    }
}

.aboutMeSection{
    overflow: hidden;
    width: 100vw;
    height: 105vh;
    position: relative;
    border-bottom: 1.25rem solid $main-background-color;
    @media (max-width: $screen-3)
    {
        
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
    }
    
}

